@CHARSET "UTF-8";

body, form {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     vertical-align:baseline;
     background:transparent;
     font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

textarea {
	vertical-align:middle;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	position:relative;
	margin: 2px 2px 2px 2px;
	*margin-right:3px;
	top:-1px;
	resize: none;
	overflow: auto;
	width:99%;
	height:99%;
	font-size:80%;
	color:#000;
	border:solid 1px #4A3C8C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea.nodes
{

	color: #000;
}

input {
     height:40px;
     font-size:100%;
     margin:0 2px 0 2px;
}

input[type="text"]{
	border:0;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#000;
	border:solid 1px #4A3C8C;
	width:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="checkbox"],input[type="radio"] {
     border:none;
     top:-2px;
     top:0\9;
     height:20px;
}

h1{
	color: #3e84b5;
	text-shadow: 0 2px 1px #ffffff;
	font-size: 40px;
	text-align:center;
	padding:6px;
}

a {
text-decoration: none;
}

#wrapper {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

/* table */
table#studentInfo{
	margin-left: auto;
 	margin-right: auto;
}
table#table1{
	margin-left: auto;
 	margin-right: auto;
}
table#table2{
	margin-left: auto;
 	margin-right: auto;
	width:100%;

}
table#table3{
	margin-left: auto;
 	margin-right: auto;
	width:100%;
}
table#table4{
	margin-left: auto;
 	margin-right: auto;
	border-top:hidden;
}
table#teiDate{
	margin-left: auto;
 	margin-right: auto;
}


/* class */
.table1{
	width: 100%;
	border-collapse: collapse;
}
.table1 th{
	width: 100px;
	text-align: center;
	font-size: 120%;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.table1 td{
	height:10px;
	padding:6px;
	text-align: left;
	font-size: 150%;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
.table2{
	width: 100%;
	border-collapse: collapse;
}
.table2 th{
	width: 137px;
	text-align: center;
	font-size: 120%;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.table2 td{
	padding:6px;
	text-align: left;
	font-size: 150%;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.td1{
	width:18px;
}

.button {
	font-size: 100%;
	font-weight:bold;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	overflow:visible;
	width: 100px;
    height:40px;
    margin: 0 auto;

	color: #4A3C8C;
	background: #fff;
	border: 1px solid #4A3C8C;
	border-radius: 2px;
}
.button:hover {
	background: #4A3C8C;
	color:#fff;
	border: 1px solid #4A3C8C;
	border-radius: 2px;
}
.exButton{
	padding:10px;
	font-size: 100%;
	font-weight:bold;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	overflow:visible;

	color: #4A3C8C;
	background: #fff;
	border: 1px solid #4A3C8C;
	border-radius: 2px;
}
.exButton:hover {
	background: #4A3C8C;
	color:#fff;
	border: 1px solid #4A3C8C;
	border-radius: 2px;
}