@CHARSET "UTF-8";

body {
	/* background: #ecebe8; */
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    padding: 0px;
    color: #696969;
    margin: 0;
}

h1{
	color: #3e84b5;
	text-shadow: 0 2px 1px #ffffff;
	font-size: 40px;
	text-align:center;
	padding:6px;
}

a {
	text-decoration: none;
}

#wrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

/* class */
.button {
	padding: 11px 25px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;

	background: #4A3C8C;
	border: 1px solid #4A3C8C;
	border-radius: 3px;
}
.button:hover {
	background: #2c0cc0;
	border: 1px solid #2c0cc0;
}
.button:focus {
	position: relative;
	bottom: -1px;

	background: #4A3C8C;
}
